html {
}

body {
  
  margin: 0 15px;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Verdana, Arial, Helvetica, osaka, 'ＭＳ Ｐゴシック', sans-serif;
  color: #000; /* Fix Me */
  background: #E7E7DE; /* Fix Me */
  letter-spacing: 0.08em;
}

a {
  color: #1BA7F6; /* Fix Me */
  text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
}

img {
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
  letter-spacing: 4px;
  padding: 0;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

ul {
  list-style: square;
}

li {
  margin: 5px 0;
}

pre {
  padding: 20px 10px;
  background-color: #eee;
}

code {
  font-size: 14px;
}

blockquote {
  border: 1px solid #000;
  padding: 10px 10px 0 10px;
  margin: 0;
}

h1 a {
  text-decoration: none;
}

.description {
  margin: -10px 0 20px 0;
}

ul.menu {
  position: absolute;
  padding: 8px;
  margin: 0;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

ul.menu li {
  display: inline;
  margin: 0 2px;
}

li.finder {
}

li.finder form {
  display: inline;
}

li.finder input.query {
  font-size: 15px;
  width: 100px;
}

li.finder input {
  font-size: 15px;
}

.content {
  width: 960px;
  margin: auto;
}

.content .main {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #fff;
  width: 635px;
  float: left;
}

.content .menu {
  float: right;
  width: 300px;
}

.content .menu h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  background: #A1CC4D;
  padding: 5px;
  margin: 0;
}

.content .menu .block {
  background: #fff;
  padding: 10px;
  font-size: 12px;
}

.content .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content .menu ul li {
  padding: 5px 4px;
  margin: 0;
  border-bottom: dotted 1px #999;
}

.content .menu .photo {
  margin: 0 10px 5px 0;
  float: left;
}

.session,
.user,
.setting {
  padding: 10px 15px;
}

.docs .doc {
  padding: 10px 15px;
  margin-bottom: 40px;
  text-align: right;
}

.doc {
  padding: 10px 15px;
  text-align: right;
}

.doc .title {
  text-align: left;
}

.doc .body {
  text-align: left;
  margin-bottom: 10px;
}

.doc .created_at,
.doc .updated_at {
  display: inline;
  font-size: 13px;
  margin-right: 8px;
}

.doc .time a {
}

.doc .edit,
.doc .delete {
  display: inline;
  font-size: 12px;
  margin-left: 6px;
}

.footer {
  text-align: center;
  padding: 20px;
}

.button {
  border: solid 0px;
  padding: 8px 14px;
  background: #666; /* Fix Me */
  color: #fff; /* Fix Me */
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #000;
}

.submit {
  font-size: 22px;
}

.icon {
  vertical-align: middle;
  border: none;
  margin: 0 6px 3px 0;
}

.doc form {
  text-align: left;
}

label.label {
  font-weight: bold;
  text-align: left;
}

input.text_field {
  font-size: 22px;
  padding: 5px;
  width: 580px;
}

input.text_field_mini {
  font-size: 22px;
  padding: 5px;
  width: 400px;
}

input.text_field_openid {
  font-size: 22px;
  padding: 5px;
  width: 580px;
}


textarea.text_area {
  font-size: 18px;
  padding: 5px;
  width: 580px;
  height: 400px;
}

textarea.text_area_mini {
  font-size: 22px;
  padding: 5px;
  width: 580px;
  height: 100px;
}

.doc select {
  font-size: 22px;
  padding: 5px;
}

label.checkbox {
  font-weight: normal;
}

.back {
  font-size: 22px;
}

.export {
  margin: 0 10px;
}

.fieldWithErrors {
  border: solid 2px red;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
}

#errorExplanation ul li {
  list-style: square;
}

.notice {
  background: #eee;
  border-top: solid 1px #0B53C1;
  border-bottom: solid 1px #0B53C1;
  padding: 10px 15px;
  margin: 10px 0px;
}

.warn {
  background: #fee;
  border-top: solid 1px #f00;
  border-bottom: solid 1px #f00;
  padding: 10px 15px;
  margin: 10px 0px;
}

.pagination {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
* .clearfix {display: block;}
*/* End hide from IE-mac */

#comment-plnet {
  padding: 0px 15px;
  text-size: 15px;
}

#comment-plnet h3 {
  margin: 10px 0;
}

#comment-plnet .comments {
  margin-bottom: 5px;
}

#comment-plnet .comments .name,
#comment-plnet .comments .created_at,
#comment-plnet .comments .updated_at {
  font-size: 13px;
  text-align: right;
}

.gist pre {
  color: #000;
}

.friendfeed.widget {
  border: none !important;
}

.friendfeed.widget .feed {
  margin: 0 !important;
  padding: 0 !important;
}

.friendfeed.widget .feed .cluster {
  margin-bottom: 10px !important;
  border-bottom: 1px dotted #999;
}
