pre {
  padding: 1.2em 0.6em;
  background-color: #eee;
  white-space: -moz-pre-wrap /* Mozilla */;
  white-space: -pre-wrap     /* Opera 4-6 */;
  white-space: -o-pre-wrap   /* Opera 7 */;
  white-space: pre-wrap      /* CSS3 */;
  word-wrap: break-word      /* IE 5.5+ */; }
