html {
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Verdana, Arial, Helvetica, osaka, 'ＭＳ Ｐゴシック', sans-serif;
  color: #666; /* Fix Me */
  background: #fff; /* Fix Me */
/*
  letter-spacing: 0.08em;
*/
}

a {
/*
  color: #1BA7F6;
*/
  color: #000;
}

a:link {
}

a:visited {
}

a:hover {
  color: #aaa;
}

img {
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin: 0 0 10px 0;
}

ul {
  list-style: square;
}

li {
  margin: 5px 0;
}

pre {
  padding: 20px 10px;
  background-color: #eee;
}

code {
  font-size: 14px;
}

blockquote {
  border: 1px solid #999;
  padding: 10px 10px 0 10px;
  margin: 0;
}

h1 a {
  text-decoration: none;
}

ul.menu {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

ul.menu a {
  text-decoration: none;
}

ul.menu li {
  display: inline;
  margin: 0 5px;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.header {
  margin: 15px 0 0 0;
  padding: 10px 0 10px 70px;
  background: url(../images/logo.jpg) no-repeat;
}

.header .description {
  font-size: 12px;
}

.content {
  margin: auto;
}

.content .main {
  width: 635px;
  float: left;
}

.content .menu {
  float: right;
  width: 300px;
}

.content .menu h2 {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
}

.content .menu .block {
  background: #fff;
  margin-bottom: 10px;
  padding: 3px 5px;
  font-size: 12px;
}

.content .menu .finder {
  text-align: center;
}

.content .menu .finder form input.query {
  width: 200px;
}

.content .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content .menu ul li {
  padding: 5px 4px;
  margin: 0;
}

.content .menu .photo {
  margin: 0 10px 5px 0;
  float: left;
}

.session,
.user,
.setting {
  padding: 10px 15px;
}

.docs .doc {
  padding: 10px 15px;
  margin-bottom: 40px;
  text-align: right;
}

.doc {
  padding: 10px 15px;
  text-align: right;
}

.doc .title {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 0 5px;
}

.doc .title a {
  text-decoration: none;
}

.doc .body {
  text-align: left;
  margin-bottom: 10px;
}

.doc .footer {
  border-top: 1px solid #ccc;
  padding: 5px;
  text-align: right;
  font-size: 11px;
}

.doc .created_at,
.doc .updated_at {
  display: inline;
  margin-right: 3px;
}

.doc .time a {
}

.doc .edit,
.doc .delete {
  display: inline;
  margin-left: 3px;
}

.footer {
  text-align: center;
  padding: 20px;
}

.button {
  border: solid 0px;
  padding: 8px 14px;
  background: #666; /* Fix Me */
  color: #fff; /* Fix Me */
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #000;
}

.submit {
  font-size: 22px;
}

.icon {
  vertical-align: middle;
  border: none;
  margin: 0 6px 3px 0;
}

.doc form {
  text-align: left;
}

label.label {
  font-weight: bold;
  text-align: left;
}

input.text_field {
  font-size: 22px;
  padding: 5px;
  width: 580px;
}

input.text_field_mini {
  font-size: 22px;
  padding: 5px;
  width: 400px;
}

input.text_field_small {
  font-size: 15px;
  padding: 5px;
  width: 200px;
}

input.text_field_openid {
  font-size: 22px;
  padding: 5px;
  width: 580px;
}


textarea.text_area {
  font-size: 15px;
  padding: 5px;
  width: 580px;
  height: 400px;
}

textarea.text_area_mini {
  font-size: 22px;
  padding: 5px;
  width: 580px;
  height: 100px;
}

.doc select {
  font-size: 22px;
  padding: 5px;
}

label.checkbox {
  font-weight: normal;
}

.back {
  font-size: 22px;
}

.export {
  margin: 0 10px;
}

.fieldWithErrors {
  border: solid 2px red;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
}

#errorExplanation ul li {
  list-style: square;
}

.notice {
  background: #eee;
  border-top: solid 1px #0B53C1;
  border-bottom: solid 1px #0B53C1;
  padding: 10px 15px;
  margin: 10px 0px;
}

.warn {
  background: #fee;
  border-top: solid 1px #f00;
  border-bottom: solid 1px #f00;
  padding: 10px 15px;
  margin: 10px 0px;
}

.pagination {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
* .clearfix {display: block;}
*/* End hide from IE-mac */

#comment-plnet {
  padding: 0px 15px;
  text-size: 15px;
}

#comment-plnet h3 {
  margin: 10px 0;
}

#comment-plnet .comments {
  margin-bottom: 5px;
}

#comment-plnet .comments .name,
#comment-plnet .comments .created_at,
#comment-plnet .comments .updated_at {
  font-size: 13px;
  text-align: right;
}

.gist pre {
  color: #000;
}

.friendfeed.widget {
  border: none !important;
}

.friendfeed.widget .feed {
  margin: 0 !important;
  padding: 0 !important;
}

.friendfeed.widget .feed .cluster {
  margin-bottom: 10px !important;
  border-bottom: 1px dotted #999;
}

.hatena-bookmark-widget-title,
.hatena-bookmark-widget-footer {
  display: none;
}

.hatena-bookmark-count {
  margin-left: 5px;
}

.hatena-bookmark-count em a {
  background:#FFF0F0 none repeat scroll 0 0 !important;
  color:#FF6666 !important;
  font-style: normal;
}

.hatena-bookmark-count strong a {
  background: #FFCCCC none repeat scroll 0 0 !important;
  color: #FF0000 !important;
}

.hatena-bookmark-count,
.hatena-bookmark-add {
  display: inline;
  vertical-align: middle;
}
